[submodule "docker-airflow"]
	path = docker-airflow
	url = git@github.com:puckel/docker-airflow.git
[submodule "airflow-tutorial"]
	path = airflow-tutorial
	url = git@github.com:tuanavu/airflow-tutorial.git
